<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="registrationpage" method="get">
        <h1>Welcome</h1>
        <h2>We have best written and most readed Articles</h2>
        <h3>Thousands of articles are available and also new articles gets posted daily</h3>
        <h3>register to get daily updates and notifications from our website</h3>
        <button type="submit">Register for free</button>
        <!-- <input type="button" value="Register"> -->
    </form>
</body>
</html>